<div class="row mt-3">
  <div class="col-auto">
    <h2 class="text-light">Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-8 bg-warning p-3 rounded-3">
    <h3>Write a new post:</h3>
    <form class="form new-blog-form">

      <div class="form-group">
        <input class="form-control" type="text" id="blog-name" name="blog-name" value="Title"/>
      </div>
      
      <div class="form-group">
        <textarea class="form-control" id="blog-desc" name="blog-desc">What do you want to say?</textarea>
      </div>
      
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Post</button>
      </div>
      
    </form>
  </div>

  {{#if blogs.length}}
  <div class="col-md-4 blog-list bg-light p-3 rounded-3">
    <h3>Previous entries:</h3>

    {{#each blogs as |blog|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/blogs/{{blog.id}}">{{blog.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{blog.id}}">delete</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="/js/profile.js"></script>